@import "tailwindcss";

:root {
  --color-bg: #B5ABBA;
  --color-mbx: #F0EEF1;
  --color-sbx: #3C3645;
  --color-text: #2C2633;
}

@layer base {
  html, body {
    height: 100%;
  }

  body {
    background-color: var(--color-bg);
    color: var(--color-text);
    -webkit-font-smoothing: antialiased;
  }
}

